<p class='text-center'>DIRECTIVE ngStyle</p>
<app-style-editable></app-style-editable>
<hr>
<p class='text-center'>css scope</p>
<app-css></app-css>
<hr>
<p class='text-center'>DIRECTIVE ngClass</p>
<app-ng-class></app-ng-class>
<hr>
<p class='text-center'>DIRECTIVE ngClass async</p>
<app-async></app-async>
<hr>
<p class='text-center'>directives personalized</p>
<app-directives-personalized></app-directives-personalized>
<hr>
<p class='text-center'>DIRECTIVE ngSwitch</p>
<app-ng-switch></app-ng-switch>
