<div class="row">
  <div class="col">
    <input #inputSearch type="text" (keyup)='search(inputSearch.value)' class="form-control" placeholder="Seach">
  </div>
</div>
<hr>
<app-loading *ngIf="loading" ></app-loading>
<app-card [data]='artist' ></app-card>
<!-- <div class="card-columns">
  <div *ngFor="let row of artist;let i= index" class="card {{i}}" >
    <div class="card-header"> {{row.name|nodata:'data'}} </div>
    <img class="card-img-top" [src]="row.images[0]|nodata:'img'" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">followers: {{row.followers.total|nodata:'data'}}</h5>
    </div>
  </div>
</div> -->
