<hr>
<div class="card-columns">
    <div *ngFor="let row of data;let i= index" class="card">
      <div class="card-header"> {{row.name|nodata:'data'}} </div>
      <img class="card-img-top" [src]="row.images[0]|nodata:'img'" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{row.release_date|nodata:'data'}}</h5>
        <p class="card-text">
            <a *ngFor="let item of row.artists" href="#" class="badge badge-primary">
              {{item.name|nodata:'data'}}
            </a>
        </p>
      </div>
    </div>
  </div>
