/* You can add global styles to this file, and also import other style files */
.mi_icono{
filter: brightness(100%) invert(100%);
-webkit-filter: brightness(100%) invert(100%);
}
.main-container{
  margin-top: 20px;
}
